@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(snow.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin-top: -15rem;
  color: rgb(221, 10, 10);
}

.container {
  width: 50%;
  height: 40vh;
  margin-top: 16rem;
}
.heading {
  margin-top: 7rem;
  color: #9efcff;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 34px;
}

.countdown span {
  margin-right: 34px;
  font-size: 1.9rem;
  font-weight: 800;
}
