@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(snow.jpg);
  background-size: cover;

  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  margin-top: 7rem;
  color: #232222;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 34px;
}

.countdown span {
  margin-right: 34px;
  font-size: 1.9rem;
  font-weight: 800;
}
